<div class="header">

  <!-- HAMBURGER -->
  <button class="hamburger" onclick="toggleSidebar()">☰</button>

  <div class="school-info">

    <img 
        src="../assets/images/default-logo.png"
        class="logo"
        id="headerSchoolLogo"
        alt="Logo Sekolah"
    >

    <h2 id="headerSchoolName">
        Kebun ILmu
    </h2>

</div>

<div class="user-info">

    <span id="headerNameHeader">
        Loading...
    </span>

    <img 
        src="../assets/images/default-avatar.png"
        class="avatar"
        id="headerAvatarHeader"
        alt="Avatar User"
    >

</div>

</div>