<!-- OVERLAY -->
<div id="overlay" class="overlay" onclick="closeSidebar()"></div>

<div class="sidebar" id="sidebar">

  <h2>🏫 LMS Admin Sekolah</h2>

  <!-- DASHBOARD -->
  <button onclick="goDashboard()">
    🏠 Dashboard
  </button>

  <!-- MURID -->
  <button onclick="goSchools()">
    👩‍🎓 Murid
  </button>

  <!-- GURU -->
  <button onclick="goTeachers()">
    👨‍🏫 Guru
  </button>

  <!-- KELAS -->
  <button onclick="goClasses()">
    🏫 Kelas
  </button>

  <button onclick="goMaterialsAdmin()">
  📚 Materi
</button>
<button onclick="goAttendance()">
📋 Absensi
</button>
  <!-- LOGOUT -->
  <button onclick="logout()">
    🚪 Logout
  </button>

</div>